<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# 标签页图片 #}
    <link rel="icon" href="{{ url_for('static',filename='images/favicon.jpg')}}">
    <title>{{ user.name }}的电影列表</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h2>
        <img class='avatar' src="{{ url_for('static',filename='images/2.png') }}" alt="头像">
        {{ user.name }}的电影列表
        
    </h2> -->
{% extends 'base.html' %}

{% block content %}
{# length过滤器获取movies变量长度 #}
<p>总共{{ movies|length }}部</p>
<form action="/" method="POST">
    电影名称 <input type="text" name='title' autocomplete="off" required>
    电影年份 <input type="text" name='year' autocomplete="off" required>
    <input class='btn' type="submit" name='submit' value="添加电影信息">
</form>
<ul class="movie-list">
    {% for movie in movies %}
    <li>
        {{ movie.title}} - {{ movie.year }}
        <span class="float-right">
            <a href="http://v.baidu.com/v?word={{ movie.title}}&ct=301989888&rn=67&pn=0&db=0&s=0&fbl=800&ie=utf-8" class='vbaidu' target="_blank" title='百度视频中搜素'>百度视频</a>
        </span>
        
         {# 编辑电影信息 #}   
        <span class='float-right'>
            <a class='btn' href="{{ url_for('edit',movie_id=movie.id) }}">编辑</a>
        </span>

        {# 删除电影信息 #}
        <span class='float-right'>
            <form action="{{ url_for('delete',movie_id=movie.id)}}" method='POST'>
                <input type="submit" name='delete' value="删除" onclick="return confim('是否确定删除？')">
            </form>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
    <!-- <footer>
        <small>
                &copy;2020<a href="#">
                    1901电影列表
                </a>
        </small>
        
    </footer> -->
<!-- </body>
</html> -->