<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ name }}的电影列表</title>
</head>
<body>
    <h2>{{ name }}的电影列表</h2>
    {# length过滤器获取movies变量长度 #}
    <p>总共{{ movies|length }}部</p>
    <ul>
        {% for movie in movies %}
        <li>{{ movie.title}} - {{ movie.year }}</li>
        {% endfor %}
    </ul>
    <footer>
        <small>
                &copy;2020<a href="#">
                    1901电影列表
                </a>
        </small>
        
    </footer>
</body>
</html>